@charset "UTF-8";
body {
	background-color: #060E02;
	color: #4ecf13; 
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}

img {
	border: 8px solid #2f302f;
	border-radius: 10px;
	opacity: .9;
}

.background-image {
	background-image: url(https://images.unsplash.com/photo-1612512836264-5e58fab88bf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	background-blend-mode: soft-light;
}

.textbox {
	background-color: #060E02;
	border: 7px solid #060E02;
	border-radius: 10px;
	mix-blend-mode: screen;
}

h6 {
	font-weight: 600;
}

.btn-dark {
	background-color: #2f302f !important;
	color: #4ecf13 !important; 
}

.navbar-custom {
	background-color: #464646;
}

.navbar-custom .navbar-brand {
	color: #4ecf13;
}

.navbar-custom .nav-item .nav-link{
	color: #4ecf13;
}
.flier img {
  border: none; /* Removes the border from the image */
}
.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element's speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) 
	}

	15% {
		transform: translateX(100vw) translateY(-100%) 
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) 
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) 
	}

	65% {
		transform: translateX(100vw) translateY(50vh) 
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) 
	}

	95% {
		transform: translateX(10vw) translateY(100vh) 
	}
}